body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/2.png");
  background-size: cover;
}

.fa-plus-circle {
  float: right;
}

span {
  height: 40px;
  width: 0;
  display: inline-block;
  color: white;
  background-color: #e74c3c;
  margin-right: 20px;
  text-align: center;
  transition: 0.2s linear;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

#container {
  border: 3px solid #2e86c1;
  width: 360px;
  margin: 100px auto;
  background-color: #d7dbdd;
}

h1 {
  background-color: #2e86c1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #17202a;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

input {
  font-size: 18px;
  background-color: #d7dbdd;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 13px 13px 20px;
  color: #2e86c1;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background-color: #fff;
  border: 3px solid #2e86c1;
  outline: none;
}

footer {
  background-color: #fafafa;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.copyright a {
  padding: 0;
  color: #2e86c1;
  text-decoration: none;
}

.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #00acee;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-github-square {
  color: #211f1f;
}
